@model _1911060148_NGUYENTRUNGKIEN_BigSchool1.ViewModels.FollowingsViewModel
@using Microsoft.AspNet.Identity;
@using _1911060148_NGUYENTRUNGKIEN_BigSchool1.Models;
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giảng viên bạn đang theo dõi</h2>

<table class="course" style="width:30%">
    <tr>
       <th>Giảng viên</th>
        <th>Tình trạng</th>
    </tr>
    @foreach (var lecturers in Model.FollowingLecturers)
    {
    <tr>
        <td class="details">
            <span class="lecturer">
                @lecturers.Name
            </span>
        </td>
        <td>
            @if (Model.ShowAction)
            {
                var user_id = @User.Identity.GetUserId();
                ApplicationDbContext _dbcontext = new ApplicationDbContext();
                bool isfollowing = _dbcontext.Followings
                    .Any(a => a.FollowerId == user_id && a.FolloweeId == lecturers.Id);
                <span>
                    @if (!isfollowing)
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@lecturers.Id">Theo dõi</button>
                    }
                    else
                    {
                        <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@lecturers.Id">Bỏ theo dõi</button>
                    }
                </span>
            }
        </td>
    </tr>
    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            FollowsController.init();
        });
    </script>
}
