body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Course Layout*/
.course{
    list-style: none;
    
}
.course > li{
    position: relative;
    margin-bottom: 30px;
}
.course > li .date {
    text-align: center;
    background-color: #6d0aa0;
    color: white;
    width: 100px;
    border-radius: 8px;
}
.course > li .details{
    position: absolute;
    top: 0px;
    left: 120px;
}
.course > li .action{
    display: normal;
    left: 120px;
    position: absolute;
}
.course > li:hover .action{
    display:block;
}
.course > li .date1 {
    text-align: center;
    background-color: #6d0aa0;
    color: white;
    width: 100px;
    border-radius: 8px;
    opacity:0.2;
}

.course > li .details1 {
    position: absolute;
    top: 0px;
    left: 120px;
    opacity:0.2;
}
.course > li .action1 {
    display: normal;
    left: 120px;
    position: absolute;
}

.course > li:hover .action1 {
    display: block;
}
.btn-info{
    width:70px;
}